@import-normalize; /* bring in normalize.css styles */

/* CSS HEX */
/* --pastel-pink: #d6a2adff;
--dark-sienna: #42242dff;
--laurel-green: #a0af84ff;
--wintergreen-dream: #668f80ff;
--rich-black-fogra-39: #030301ff; */

body {
  background-color: #668f806b !important;
}

.container {
  background-color: #fff;
  padding-bottom: 10vh;
}

.page_title {
  padding: 30px 0px;
}
.page_title h1 {
  font-size: 3.5rem;
  color: #d6a2adff;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 0;
  position: relative;
  text-transform: capitalize;
}
.page_title h1::before {
  background: #42242d;
  width: 270px;
  height: 2px;
  position: absolute;
  content: "";
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page_title h1::after {
  position: absolute;
  content: "";
  background: #668f80;
  width: 60px;
  height: 2px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Menu starts*/
.menu_tab {
  margin: 0 auto;
  justify-content: center;
}
.nav-item {
  display: inline-block;
  text-align: center;
}
.nav-tabs {
  border-bottom: 1px solid #42242d;
}
.nav-tabs .nav-link {
  transition: 0.3s;
}
.nav-tabs .nav-link.active {
  background: #d6a2ad;
  color: #fff;
  font-weight: 700;
  border: 1px solid #d6a2ad;
  text-transform: capitalize;
}
.nav-link {
  color: #000;
}
.nav-tabs .nav-link:hover {
  background: #d6a2ad;
  color: #fff;
  border: 1px solid #d6a2ad;
}
.single_menu {
  position: relative;
  margin-bottom: 75px;
  transition: 0.3s;
}

.single_menu img {
  width: 30%;
  position: absolute;
  height: 140px;
  width: 140px;
  /* transition: .3s; */
  border: 1px solid #ddd;
  border-radius: 5px;
}
.menu_content {
  padding-left: 200px;
}
.menu_content h4 {
  font-size: 25px;
  font-weight: 300;
  border-bottom: 3px dashed #668f80;
  line-height: 2;
  text-transform: capitalize;
}
.menu_content h4 span {
  font-size: 25px;
  font-weight: 800;
  float: right;
  font-style: italic;
  color: #030301;
}
.menu_content p {
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1px;
}
.menu_btn.btn.btn-danger {
  margin: 0 auto;
  display: block;
  width: 140px;
}
/*Menu ends*/
.menu_btn.btn.btn-danger {
  margin: 0 auto;
  display: block;
  width: 140px;
}
.btn.btn-danger {
  background: #d6a2adff;
  border: 1px solid #d6a2adff;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  text-transform: capitalize;
  font-weight: 700;
  overflow: hidden;
  padding: 15px 25px;
}
.btn.btn-danger::before {
  position: absolute;
  content: "";
  background: #e74c3c;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 100%;
  transition: 0.3s;
  z-index: -1;
}
.btn.btn-danger:hover:before {
  top: 0;
  left: 0;
}
.order-button.btn {
  position: absolute;
  margin-top: 110px;
  margin-left: 15px;
  background-color: #d6a2ad;
  border-color: #d6a2ad;
}
.order-button.btn:hover {
  background-color: #c77f8f;
  border-color: #c77f8f;
}
.order-button.btn:focus {
  background-color: #c77f8f;
  border-color: #c77f8f;
}
.cart-button.btn,
.cart-button.btn:hover,
.cart-button.btn:focus {
  background-color: #c77f8f;
  border-color: #c77f8f;
}
.cart-button.btn{
  float: right;
}
